# Source
src/
tests/

# Config files
tsconfig*.json
jest.config.ts
jest.setup.ts
.eslintrc.json
vitest.config.ts
tsup.config.ts
.prettierrc
.github/

# Development files
coverage/
.vscode/
.idea/
.gitignore
.editorconfig

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/*.map

# Misc
.DS_Store
.env
.env.*