{
  "branches": ["main", "master"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "chore", "release": false},
        {"type": "docs", "release": false},
        {"type": "style", "release": false},
        {"type": "refactor", "release": false},
        {"type": "perf", "release": "patch"},
        {"type": "test", "release": false},
        {"type": "build", "release": false},
        {"type": "ci", "release": false},
        {"type": "revert", "release": "patch"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "npmPublish": true,
      "pkgRoot": "."
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/**", "label": "Distribution"},
        {"path": "LICENSE.md", "label": "License"},
        {"path": "README.md", "label": "Readme"}
      ]
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ],
  "preset": "angular"
}